.content-section {
 padding-top: 100px;
 padding-bottom: 100px;
}

.modal-title {
color: black;
}

.modal-body {
color: black;
text-align: left;
}

.justify {
  text-align: justify;
}

@media (min-width: 768px) {
  .masthead {
    padding-top: 100px;
  }
